<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>客户信息查询</title>
</head>
<style>
.ceter{
	width: 1000px;
	height: 1000px;
	border-color: #000000;
	/* [disabled]border-style: inset; */
	text-align: center;
	line-height: 600px;
}
</style>
<body background="sunny-bottom-view-of-high-tropical-palms-picjumbo-com.jpg">
   <h1>请上传需要获取客户信息的VM信息表</h1>
       <hr>
    <form action="" method=post enctype=multipart/form-data>
      <div class="ceter">
       <input type=file name=file style="size: portrait; border-color: #000000; /* [disabled]border-style: outset; */">
       <input type=submit value=上传>
      </div>
    </form>
</body>
</html>
